html {
    background: #e9f0f5;
}

#loading {
    text-align: center;
}

#app {
    display: none;
    /* Will be displayed once app finishes loading */
    max-width: 725px;
    margin: 0 auto;
}

.loaded #loading {
    display: none;
}

.loaded #app {
    display: block;
}

.event {
    margin: 1em;
}

.event .date {
    display: inline-block;
    opacity: 0.75;
    text-align: right;
    width: 165px;
    font-size: 14px;
    vertical-align: middle;
}
.event[data-approximate="true"] .date {
    opacity: 0.4;
}

.event .icon {
    display: inline-block;
    background: rgb(197, 197, 197);
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('icons/generic.svg');
    border-radius: 1000px;
    width: 32px;
    height:32px;
    margin: 0 1em;
    vertical-align: middle;
}

.event .text {
    display: inline-block;
    background: white;
    padding: 0.5em 1em;
    box-shadow: 0px 0px 3px #ccc;
    width: 420px;
}

.event[data-type="job"] .icon {
    background-color: rgb(85, 85, 85);
}
.event[data-type="relationship"] .icon {
    background-color: rgb(230, 84, 84);
}
.event[data-type="health"] .icon {
    background-color: rgb(84, 135, 230);
}
.event[data-type="location"] .icon {
    background-color: rgb(76, 179, 89);
}
.event[data-type="family"] .icon {
    background-color: rgb(201, 90, 201);
}
.event[data-type="school"] .icon {
    background-color: rgb(58, 212, 218);
}