<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <title>LifeTime</title>
  <link rel="stylesheet" type="text/css" href="app.css" />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="app.js"></script>
</head>
<body>
  <div id="loading">Loading...</div>
  <div id="app">
    <div v-for="event in events" class="event" :data-type="event.type" :data-approximate="!!event.approximate">
      <span class="date" :title="event.dateTitle">{{ event.date }}</span>
      <span class="icon" :style="{ 'background-image': 'url(icons/' + event.type + '.svg)' }"></span>
      <span class="text">{{ event.description }}</span>
    </div>
  </div>
</body>
